<p style="color: green"></p>

<%= render @dealership %>

  <%= link_to "Edit this dealership", edit_dealership_path(@dealership) %> |
  <%= link_to "Back to dealerships", dealerships_path %>

  <%= button_to "Destroy this dealership", @dealership, method: :delete %>

