
<p style="color: green"></p>

<h1>Roles</h1>

  <% @roles.each do |role| %>
    <%= render role %>
    <p>
      <%= link_to "Show this role", role %>
    </p>
  <% end %>

<%= link_to "New role", new_role_path %>
